{% extends 'base.html' %} {% block title %}Cotización - Taller Mecánico{%
endblock %} {% block content %}
<h1>Solicite una Cotización</h1>
<div class="quotation-form">
  <form action="#" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required />
    </div>
    <div class="form-group">
      <label for="vehiculo">Vehículo:</label>
      <input type="text" id="vehiculo" name="vehiculo" required />
    </div>
    <div class="form-group">
      <label for="servicio">Servicio requerido:</label>
      <textarea id="servicio" name="servicio" required></textarea>
    </div>
    <button type="submit">Solicitar cotización</button>
  </form>
</div>
{% endblock %}
